[req]
default_bits = 4096
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=CN
ST=Beijing
L=WangJing
O=Nokia Shanghai Bell
OU=DX
emailAddress=ieccf.intermediate.ca.gamma@nokia-sbell.com
CN = IECCF Intermediate CA Gamma

