[req]
default_bits = 4096
prompt = no
default_md = sha256
distinguished_name = dn

[v3_req]
basicConstraints = CA:TRUE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment, cRLSign, keyCertSign

[dn]
C=CN
ST=Beijing
L=WangJing
O=Nokia Shanghai Bell
OU=DX
emailAddress=ieccf.root.ca@nokia-sbell.com
CN = IECCF Root CA

